/**  */
.el-table-plus {
  .el-table-plus__header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 36px;
  }
  .el-table-plus__header__caption {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .el-table-plus__header__caption .caption-item{
    width: 180px;
    margin-right: 10px;
  }
  .el-pagination {
    padding: 15px 0;
  }
  .el-pagination--left {
    text-align: left;
  }
  .el-pagination--center {
    text-align: center;
  }
  .el-pagination--right {
    text-align: right;
  }
}
.el-table-plus-toolbox,
.el-dropdown-menu,
.el-table-plus-toolbox_dropdown{
  .el-table-plus-toolbox__item {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    //border: 1px solid #dcdfe6;
    border: none;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0 2px;
    transition: .1s;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;

    &:hover,
    &:focus{
      color: #409EFF;
      background-color: transparent;
    }
  }
}
