/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: $body-bg;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Microsoft YaHei','Source Sans Pro', sans-serif;
}

/* General Links */
a {
  color: $link-color;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: $link-hover-color;
}

ul,li{
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}
